<script type="text/javascript">
  $(".page-content").css({"margin-left": "0px"});
  $(".sidebar-left").hide();
// </script>
<h1 class="page-heading text-center" >Integrations</h1>
<hr>
<%- if Devise.mappings[:user].omniauthable? %>
<div class="row" id="github_edit">
	<%= render partial: "github_profile/edit" %>
</div>
<br>
<div class="row" id="linkedin_edit">
	<%= render partial: "linkedin_profile/edit" %>
</div>
<br>
 <% end -%>
<div class="row" id="codeforces_edit">
	<%= render partial: "codeforces_profile/edit" %>
</div>
<br>
<div class="row" id="topcoder_edit">
	
	<%= render partial: "topcoder_profile/edit" %>
</div>
