<div class="sociallinks" style="float:right;">
			<br>
			<i class="fa fa-share-alt"></i>
			<Strong>   Share Profile </Strong>
			<br>
			<%= social_share_button_tag("Prologg", :popup => true, :url => "http://prologg.me/"+"#{ @user.username}", :img => "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRtuEzyLbOZbZUskhsEULL7TSJw_EKMitKgWhIMOznJmp8ETZn8hg" ) %>
</div>