<ul class="sidebar-menu">
	<li>
		<a href="javascript:void(0);" id="show_summary_link"><i class="fa fa-dashboard icon-sidebar"></i>
		Profile
		<span class="label label-success span-sidebar">UPDATED</span>
		</a>
	</li>
	<li >
		<a href= "#">
			<i class="fa fa-desktop icon-sidebar"></i>
			<i class="fa fa-angle-right chevron-icon-sidebar"></i>
			Projects
			<span class="badge badge-warning span-sidebar">9</span>
			</a>
		<ul class="submenu">
			<li><%= link_to "Github", "javascript:void(0);", id: 'github_profile' %></li>
			<li><%= link_to "LinkedIn", "javascript:void(0);", id: 'linkedin_profile' %></li>
		</ul>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-flask icon-sidebar"></i>
			<i class="fa fa-angle-right chevron-icon-sidebar"></i>
			Programming
		</a>
		<ul class="submenu">
			<li><%= link_to "Codeforces", "javascript:void(0);", id: 'cfp_profile' %></li>
			<li><%= link_to "Topcoder", "javascript:void(0);", id: 'tcp_profile' %></li>
		</ul>
	</li>
	
	<li class="static text-center">Last updated on 26th June 2014</li>
</ul>
