<div class="menubarpad" style="background-color :#29AF8E ; width : 1000px; margin-top:-10px;">
	<button type="button" class="btn btn-primary btn-styling ">Work summary</button>
	<div class="menubarpad">
	  <div class="menubarpad">
		<button type="button" class="btn btn-primary btn-styling dropdown-toggle" data-toggle="dropdown">
		  Application Profile
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu btn-styling">
		  <li><a href="element-button.html#fakelink">Application Profile</a></li>
		  <li><%= link_to "Github", github_show_profile_path(username: @user.username), {remote: true, id: 'github_profile'} %></li>
		  <li><a href="element-button.html#fakelink">Linkedin</a></li>
		</ul>
	  </div>
	</div>

	<div class="menubarpad">
	  <div class="menubarpad">
		<button type="button" class="btn btn-primary btn-styling dropdown-toggle" data-toggle="dropdown">
		  Algorithm Profile
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu btn-styling">
		  <li><a href="element-button.html#fakelink">Algorithm Profile</a></li>
		  <li><%= link_to "Codeforces", cfp_show_profile_path(username: @user.username), {remote: true, id: 'cfp_profile'} %><!-- <a href="" data-remote="true">Codeforces</a> --></li>
		  <li><a href="element-button.html#fakelink">Topcoder</a></li>
		</ul>
	  </div>
	</div>
	<button type="button" class="btn btn-primary btn-styling ">Stack Overflow</button>
</div>
