
<ul class="sidebar-menu">
	<li>
		<a href="<%= profile_path(username: @user.username) %>">
			<i class="fa fa-dashboard icon-sidebar"></i>
			Profile
			<span class="label label-success span-sidebar">UPDATED</span>
		</a>
	</li>
	<li >
		<a href= "#">
			<i class="fa fa-desktop icon-sidebar"></i>
			<i class="fa fa-angle-right chevron-icon-sidebar"></i>
			Projects
			<span class="badge badge-warning span-sidebar">9</span>
			</a>
		<ul class="submenu">
			<li><%= link_to "Github", github_show_profile_path(username: @user.username), {remote: true, id: 'github_profile'} %></li>
			<li><a href="index.html#fakelink">LinkedIn</a></li>
			<li><a href="index.html#fakelink">Topcoder</a></li>
		</ul>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-flask icon-sidebar"></i>
			<i class="fa fa-angle-right chevron-icon-sidebar"></i>
			Programming
		</a>
		<ul class="submenu">
			<li><%= link_to "Codeforces", cfp_show_profile_path(username: @user.username), {remote: true, id: 'cfp_profile'} %></li>
			<li><a href="widget-default.html">Topcoder</a></li>
		</ul>
	</li>
	
	<li class="static text-center">Last updated on 26th June 2014</li>
</ul>