<%= render partial: 'left_side_bar' %>
<div class="container-fluid">
	<div class="contentwrapper">
		<div class="mainpagecontent">
			<%= render partial: 'submenu' %>
			<div id="codeforces">
			</div>
		</div>
	</div>
</div>
