<div class="row">
	<%= render partial: 'left_side_bar' %>
	
	<div class="container-fluid col-lg-9">
		<div class="contentwrapper">
			<div class="mainpagecontent">
				<%= render partial: 'submenu' %>
				<div id="individual_profile">
				</div>
			</div>
		</div>
	</div>
</div>
