<div class="page-content">
	<%= render partial: 'left_side_bar' %>
	<div class="container-fluid">
		<div class="contentwrapper">
			<div class="mainpagecontent">
				<%= render partial: 'submenu' %>
				<%= render partial: 'codeforces_profile/show' %>
			</div>
		</div>
	</div>
</div>
