<% if @user == current_user %>
<div class="row" style="margin-top: 20px; margin-left: 25%; margin-bottom: 20px;">
	<strong>You have not integrated Codeforces Profile. You can Integrate it from below link.</strong>
</div>
	<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<%= image_tag("codeforces_small.jpg", class: "sitelogo", style: "width: 50px; height: 50px;") %>
			&nbsp;&nbsp;&nbsp; <strong style="font-size: 30px;">Codeforces</strong>
	</div>
	<div class="col-lg-4">
		<a href="<%= cfp_profile_new_path %>" class="btn btn-info btn-perspective"><i class="fa fa-plus-circle"></i>Add</a>&nbsp;
	</div>
</div>
<% else %>
	<div class="row" style="margin-top: 20px; margin-left: 25%; margin-bottom: 20px;"> 
	<strong><h3><%= @user.username %> has not integrated Codeforces profile.</h3> </strong>
	</div>
<% end -%>