.directionlinestyle {
	background-color: #f8f8f8;
	line-height: 2.0em;
}

.algocfstyle {
	width: 460px;
	background-color: #FE8;
	height: 500px;
	position: absolute;

}

.algotcstyle {
	width: 460px;
	background-color: #FE8;
	height: 50px;
	position: absolute;
	margin-left: 500px;
}

.statisticswrapper{

	margin-top: 10px;
	margin-bottom: 10px;
}


.seperator {
	margin-top: 2px;
	margin-bottom: 2px;
}

.cflogoimg{
	width: 130px;
	height: 40px;
	margin-left: 160px;
}

.cfhandlestyle {
	width: 130px;
height: 40px;
margin-left: 340px;
}

.logoline {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sitelogo {
	width: 250px;
}

.siteusername{
	width: 150px;
	height: 40px;
	margin-left: 40px;
}

.currentstat {
    height: 100px;
	margin-top: 5px;
	width: 100%;
	background-color: #f8f8f8;
	margin-left: 0px !important;
}

.Ratinggraph {
	position: absolute;
}

.langgraph {
	margin-left: 500px;
}

.half-width {
	width: 46%;
	float: left;
	margin-left: 10px;
}

.top-unpadded {
	margin-top: -8px;
	height: 50px;
	margin-bottom: 0px;
}

.cfcount {
	font-size: x-large;
}

.pull-req-circle {
	
	width: 75px;
height: 75px;
border-radius: 50%;
text-align: center;
padding: 14px 0;
font-weight: 700;
}

.small-heading-merge {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	margin:  10px 0;
	color: #000000;
}

.issuecreated {
	position: absolute !important;
}

.also-knows {
	height: 353px;
	width: 305px;
	overflow: scroll;
	overflow-x: hidden; 
	padding-right: 10px;
}

/*
 *  STYLE 1
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #555;
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 440px;
}
.newclassone{
	height: 270px;
overflow: hidden;
}
/*.widget-newsticker-1 li {
padding: 10px 15px;
margin: 0;
height: 60px;
overflow: hidden;
border-bottom: 1px dotted #ddd;
padding-bottom: 55px;
}*/


/* CSS for Summary Page */
/* Useless css is to be removed */
.first-row-ws{

	background-color: white;
	margin-top: 2%;
}

.first-paragraph{
	font-size: 20px;
	color: black;
	font-family: 'Raleway', sans-serif;
}

.style-words {
	font-family: 'Tangerine', serif;
	font-size: 36px;
	font-style: bold;
}

.second-row-ws{
	background-color: white;
	margin-top: 2%;
}
.third-row-ws {
	margin-top: 2%;
	height: 420px;
}

.para-2 {
	background-color: white;
	height: 401px;
}

.fifth-row-ws{
	margin-top: 2%;
	height: 385px;

}
.para-3 {
	background-color: white;
	height: 75px;
}

.newbie {
	margin-top: 5px;
	margin-left: -65px;
}

.timeliner-1 {
	float: left;
	margin-left: -15px;
}
.timeliner-2 {
	float: left;
	margin-left: 78px;
	margin-top: -23px;
}

.heading {
	font-family: 'Tangerine', serif;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;
}

.newicon {
	margin-top: 50px;
	margin-left: 39%;
}

.newicon-2 {
	margin-top: 96px;
	margin-left: 39%;
}

.newicon-3 {
	margin-top: 25px;
	margin-left: 39%;
}
.removeborder {
	border: 0px #ffffff ! important;
}

.caracolor {
	color: black !important;
}
