	#UL_1 {
    color: rgb(57, 66, 78);
    height: 330px;
    text-align: center;
    text-decoration: none solid rgb(57, 66, 78);
    width: 1172.390625px;
    border: 0px none rgb(57, 66, 78);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px -7.5px -64px;
    outline: rgb(57, 66, 78) none 0px;
    padding: 0px;
}/*#UL_1*/

#UL_1:after {
    clear: both;
    color: rgb(57, 66, 78);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(57, 66, 78);
    width: 1px;
    content: '';
    border: 0px none rgb(57, 66, 78);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(57, 66, 78) none 0px;
    padding: 0px;
}/*#UL_1:after*/

#UL_1:before {
    color: rgb(57, 66, 78);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(57, 66, 78);
    width: 1px;
    content: '';
    border: 0px none rgb(57, 66, 78);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(57, 66, 78) none 0px;
    padding: 0px;
}/*#UL_1:before*/

#LI_2, #LI_8, #LI_14, #LI_20 {
    box-sizing: border-box;
    color: rgb(57, 66, 78);
    float: left;
    height: 330px;
    text-align: center;
    text-decoration: none solid rgb(57, 66, 78);
    width: 293.09375px;
    border: 0px none rgb(57, 66, 78);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(57, 66, 78) none 0px;
    padding: 0px 7.5px;
}/*#LI_2, #LI_8, #LI_14, #LI_20*/

#DIV_3 {
    background-position: 0px -330px;
    color: rgb(255, 255, 255);
    height: 330px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 300px;
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) no-repeat scroll 0px -330px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px -21.90625px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3*/

#DIV_3:before {
    background-position: 0px 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 330px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 300px;
    z-index: 0;
    content: '';
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.4s ease 0s;
}/*#DIV_3:before*/

#SPAN_4 {
    color: rgb(255, 255, 255);
    display: block;
    height: 107px;
    left: 9px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 120px;
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_4*/

#IMG_5 {
    color: rgb(255, 255, 255);
    height: 53px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 66px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_5*/

#P_6, #P_12, #P_18, #P_24 {
    color: rgb(255, 255, 255);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_6, #P_12, #P_18, #P_24*/

#BR_7, #BR_13, #BR_19, #BR_25 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/24px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_7, #BR_13, #BR_19, #BR_25*/

#DIV_9 {
    background-position: -300px -330px;
    color: rgb(255, 255, 255);
    height: 330px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 300px;
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) no-repeat scroll -300px -330px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px -21.90625px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_9*/

#DIV_9:before {
    background-position: -300px 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 330px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 300px;
    z-index: 0;
    content: '';
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) repeat scroll -300px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.4s ease 0s;
}/*#DIV_9:before*/

#SPAN_10 {
    color: rgb(255, 255, 255);
    display: block;
    height: 113px;
    left: 3px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 120px;
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_10*/

#IMG_11 {
    color: rgb(255, 255, 255);
    height: 59px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 59px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_11*/

#DIV_15 {
    background-position: -600px -330px;
    color: rgb(255, 255, 255);
    height: 330px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 300px;
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) no-repeat scroll -600px -330px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px -21.90625px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_15*/

#DIV_15:before {
    background-position: -600px 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 330px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 300px;
    z-index: 0;
    content: '';
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) repeat scroll -600px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.4s ease 0s;
}/*#DIV_15:before*/

#SPAN_16 {
    color: rgb(255, 255, 255);
    display: block;
    height: 100px;
    left: 5px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 126px;
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_16*/

#IMG_17 {
    color: rgb(255, 255, 255);
    height: 46px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 45px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_17*/

#DIV_21 {
    background-position: -900px -330px;
    color: rgb(255, 255, 255);
    height: 330px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 300px;
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) no-repeat scroll -900px -330px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    margin: 0px -21.90625px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_21*/

#DIV_21:before {
    background-position: -900px 0px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 330px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 300px;
    z-index: 0;
    content: '';
    background: rgba(0, 0, 0, 0) url(https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/static/homepage/mission-circles.png) repeat scroll -900px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.4s ease 0s;
}/*#DIV_21:before*/

#SPAN_22 {
    color: rgb(255, 255, 255);
    display: block;
    height: 108px;
    left: -1px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 124px;
    width: 300px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_22*/

#IMG_23 {
    color: rgb(255, 255, 255);
    height: 54px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 60px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 16px/22.399999618530273px 'Whitney SSm A', 'Whitney SSm B', verdana, 'Lucida Grande', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_23*/


.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1.5em;
    color: white;
    font-family: Raleway ;
    margin-top: 100px;
}


#alpha_wrapper {
	width: 100%;
	height: 695px;
	float: left;
	position: relative;
	color: #fff;
}

#alpha_2 {
	background: transparent url('http://kenstonlocal.org/kenston/wp-content/uploads/2014/12/css_code.jpg') no-repeat 0 0 fixed;
	background-size: cover;
	width: 100%;
	height: 695px;
	float: left;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#text_holder_2 {
	
	position: absolute;
	
	width: 100%;
}

#alpha_3 {
	background: transparent url('http://sanuja.com/blog/wp-content/uploads/2013/05/code_black.jpg') no-repeat 0 0 fixed;
	background-size: cover;
	width: 100%;
	height: 620px;
	float: left;
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*
.main-logo {
    width: 100% !important;
    height: 60px !important;
}*/

.main-logo img {
    width: 300px;
    margin-top: 20px;
}

.main-logo-container {
    margin-left: 40%;
}