.Gendersignup {
	background-color: #ffffff;
	
	width: 300px;
	height: 45px;
	border-radius: 5px;
	color : #656D78;
	font-family: inherit;
	position: relative;
}

.gendericon {
	padding-right: 5px;
	padding-left: 5px;
	color: #AAB2BD;
	font-size: 15px;
}

.gendersetting{
	padding-left: 0px;
	
}

.headerlogo {
	width: 250px;
	height: 60px;
}

.footertext{
	margin-left: 450px;
}

.sociallinks {
	margin-left: 505px;
	margin-top: 5px;
}

.spaceforleftpanel{
	width: 325px;
	height: 545px;
	background-color: #f8f8f8;
	position: absolute;
	margin-top: -10px;
}

.mainpagecontent{

	margin-left: 0px;
	background: #f8f8f8;
	margin-bottom: 80px;
}

.menubarpad {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.contentwrapper{
	position: absolute;
	height: 100%;
	margin-top: 14px;
	margin-bottom: 80px;
	background-color: #f8f8f8;
}

.btn-styling {
	margin-left: 48px;
	margin-right: 50px;
}

.searchbtnstyle {
	margin-left: 20px;
	margin-top: 10px;
}

.actions {
	margin-bottom: 25px;
}

#left-profile-box {
	margin-top: 14px;
}

.logo-brand img {
	width: 75% !important;
	height: 60px !important;
}

ul.nav-user {
	right: 8px !important;
	width: 254px !important;
}

.logoheader {
	top: -150px !important;
}

.top-navbar.toggle {
	left: 0px !important;
	right: 0px !important;
}

.femaleicon {
	position : absolute;
}

.iconposition {
	margin-top: 15px;
	margin-right: 265px;
}

.glyphposition {
	margin-left: 260px;
}

.solution {
	padding-left : 40px;
}

.edit_link_box{
	margin-top: 0px;
}

