<nav class = "navbar navbar-default navbar-fixed-bottom" role = "navigation">
			
		<div class = "container">
			<div class= "footertext"> Last updated at xx:xx:xx on dd:mm:yy </div>
			<div class="sociallinks">
				<i class="fa fa-facebook icon-xs icon-circle icon-facebook"></i>
				<i class="fa fa-twitter icon-xs icon-circle icon-twitter"></i>
				<i class="fa fa-dribbble icon-xs icon-circle icon-dribbble"></i>
				<i class="fa fa-google-plus icon-xs icon-circle icon-google-plus"></i>
			</div>
			<div>
				<a href="blankpage.html" class="footertext" style="margin-left : 535px">Contact us</a>
			</div>
		</div>
	
			
		</nav>