<footer class="footer">
	<div class = "container">
		<div class="sociallinks">
			<%= social_share_button_tag("Prologg", :popup => true, :url => "http://prologg.me", :img => "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRtuEzyLbOZbZUskhsEULL7TSJw_EKMitKgWhIMOznJmp8ETZn8hg" ) %>
		</div>
		<div>
			<a href="https://drive.google.com/file/d/0B2n81PJ3ea5bU0d6WHdKYWxaYlk/view?usp=sharing" target="_blank" class="footertext">Help</a>
			<a href="mailto:teameureka.sen@gmail.com" target="_top">Contact</a>
			<a href="https://docs.google.com/forms/d/19-zgzR0Zl2h_pTngO-om3bkfVyCLgnU6x5u6XLCrs9M/viewform" target="_blank">Feedback</a>
		</div>
	</div>
</footer>