<footer class="footer">
	<div class = "container">
		<div class="sociallinks">
			<%= social_share_button_tag("Prologg", :popup => true, :url => "http://prologg.me", :img => "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRtuEzyLbOZbZUskhsEULL7TSJw_EKMitKgWhIMOznJmp8ETZn8hg" ) %>
		</div>
		<div>
			<a href="blankpage.html" class="footertext">Contact us</a>
		</div>
	</div>
</footer>